/* Main navbar */

/* ++++++++++++++++++++++ Init+++++++++++++++++++++ */
nav{
    font-family: system-ui;
}

nav .bar {
    display: none;
    height: 40px;
    background: black;
    position: relative;
}

nav .bar i{    
    position: absolute;
    color: white;
    font-size: 30px;
    right: 10px;
    top: 5px;
}

/* -----------------------Init--------------------- */


/*+++++++++++++++++++++ Global +++++++++++++++++++++*/

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #4a4a4a;
}

nav ul ul {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10%);
    transition: 500ms;
    z-index: 999;
}

nav ul li {
    position: relative;
    display: inline-block;
    padding: 10px 15px 10px 10px;
    border-bottom: 1px solid rgb(51 51 51);
    min-width: 40px;
    text-align: center;
}

nav ul li.has-sub > a::after {
    content: "\f0d7";
    font-family: FontAwesome;
    color: white;
    position: absolute;
    right: 0;
    line-height: 25px;  
    transition: 500ms;
}

nav ul ul li.has-sub > a::after {
  right: 10px;

  transform: rotate(-90deg);
}

nav ul li::before{
    content: "";
    position: absolute;
    box-shadow: inset 0px 1px 20px 4px #333333;
    height: 100%;
    width: 0%;
    left: 0;
    top: 0;
    visibility: hidden;
    transition: 500ms;
}

nav ul ul li{
    text-align: left;
    padding: 10px;
    display: block;
}

nav ul li:hover::before{
    visibility: visible;
    width: 100%;;
}

nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}


/* Hover to show */
nav ul li.has-sub:hover > ul {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

nav ul li.has-sub:hover > a::after{
    transform: rotate(-180deg);
}

nav ul ul li.has-sub:hover > a::after{
    transform: rotate(90deg);
}


/* Main Menu Items  */
nav > ul {
    display: block;
}

/* First Layer */
nav ul ul {
    position: absolute;
    left: 0;
    top:100%;
    border: 1px solid rgb(51 51 51);
}

nav ul ul li:last-child{
    border-bottom: none;
}

/* Second Layer */
nav ul ul ul {
    left: 100%;
    top:0;
}

/* -----------------------Global--------------------- */


@media (max-width:720px){

    nav .bar {
        display: block;
    }

    nav ul li{
        display: block;
        text-align: left;
    }


    nav ul li.has-sub:hover > ul{
        position: static;
        transform: translateY(10px);
    }


    nav ul li:hover{
        background: rgb(31, 31, 31);
    }

    nav ul li.has-sub > a::after {
        right: 10px;
    }
    
    nav ul ul li.has-sub > a::after {
        transform: rotate(-90deg);
    }

    nav ul ul li.has-sub:hover > a::after {
        transform: rotate(0);
    }

}