/* Main navbar */
#navbar {
    background: #4a4a4a;
    position: relative;
    min-width: 300px;
    min-height: 40px;
}


#navbar .header {
    display: none;
}

#navbar .bar {
    display: none;
}


#navbar ul {
    margin: 0;
    padding: 0;
    display: inline-flex;
    list-style: none;
    box-sizing: border-box;
    background:#4a4a4a
}

#navbar ul ul {
    position: absolute;
    display: none;
}

#navbar ul ul ul {
    left: 100%;
    top: 0;
}

#navbar ul li {
    position: relative;
    border-bottom: 1px solid #353535;
}

#navbar ul li a {
    display: flex;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    transition: 0.5s;
    color: #ffffff;
    font-family:system-ui;
    text-transform: capitalize;
}

#navbar ul li a.sub:after {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 10px;
    transform: rotate(90deg);
    bottom: 12px;
}

#navbar ul ul li a.sub:after {
    transform: rotate(0deg);
}

#navbar ul ul li a {
    display: list-item;
    transition: .5s;
}

#navbar ul li a:hover {
    box-shadow: inset 0px 1px 20px 4px #333333;
}


#navbar ul li:hover > ul {
    display: list-item;
    border-left:1px solid #333333;
}

#navbar ul ul li:hover > ul {
    display: list-item;
}


@media (max-width:720px){
    
    #navbar .header {
        display: block;
        height: 40px;
    }
    
    #navbar .toggle {
        display: block;
    } 

    #navbar .bar {
        display: block;
        position: absolute;
        right: 10px;
        top: 4px;
        width: 30px;
        font-size: 30px;
        cursor: pointer;
        color: white;
    }
    
    #navbar ul {
        display: none;
        background: #4a4a4a;
    }

    #navbar ul li {
        position: unset;
    }

    #navbar ul li a.sub:after {
        right: 10px;
        transform: rotate(0deg);
    }
          
    #navbar ul ul {
        position: unset;
    }

    #navbar ul li:hover > ul {
        display: list-item;
    }

    #navbar ul ul li:hover > ul {
        display: list-item;
    }

    #navbar ul li:hover > ul a {
        padding-left: 20px;
    }

    #navbar ul ul li:hover > ul a {
        padding-left: 40px;
    }

    #navbar ul ul li:hover > ul {
        display: list-item;
        position: unset;
    }
 
}