
/* Main navbar */
#navbar {
    background: #4a4a4a;
    position: relative;
    min-width: 300px;
    min-height: 40px;
}


#navbar .header {
    display: none;
}

#navbar .bar {
    display: none;
}


#navbar ul {
    margin: 0;
    padding: 0;
    display: inline-flex;
    list-style: none;
    box-sizing: border-box;
}

#navbar ul ul {
    background: #673ab7;
    position: absolute;
    display: none;
}

#navbar ul ul ul {
    position: absolute;
    display: none;
    left: 100%;
    top: 0;
}

#navbar ul li {
    position: relative;
    border-bottom: 1px solid #585858;
}

#navbar ul li a {
    display: flex;
    padding: 10px 10px;
    text-decoration: none;
    transition: 0.5s;
    color: #ffffff;
}

#navbar ul ul li a {
    display: list-item;
    transition: .5s;
    color: #ffffff;
    border-bottom: 1px solid #9E9E9E;
    border-right: 1px solid #9E9E9E;
}

#navbar ul li a:hover {
    background: #2c2c2c;
    transform: scale(1.05);
}


#navbar ul li:hover > ul {
    display: list-item;
    background: #4a4a4a;
}

#navbar ul ul li:hover > ul {
    display: list-item;
}


@media (max-width:720px){
    
    #navbar .header {
        display: block;
        height: 40px;
        border-bottom: 1px solid #696969;
    }
    
    #navbar .toggle {
        display: block;
    } 

    #navbar .bar {
        display: block;
        position: absolute;
        right: 10px;
        top: 4px;
        width: 30px;
        font-size: 10px;
        cursor: pointer;
    }
    
    #navbar ul {
        display: none;
    }

    #navbar ul li, #navbar ul ul li, #navbar ul ul ul li {
        position: unset;
        border-bottom: 1px solid #696969;
    }
   
    #navbar ul li a:hover {
        transform: unset;
        background: #3c3c3c;
        border: unset;
        border-bottom: 1px solid #FFC107;
    }
    
    #navbar ul ul li a:hover {
        transform: unset;
        background: #2b2929;
        border: unset;
        border-bottom: 1px solid #2196F3;
    }
        
    #navbar ul ul, #navbar ul ul ul {
        position: unset;
        background: #444444;
    }

    #navbar ul li:hover > ul {
        display: list-item;
        border-left: 4px solid #ffcc13;
    }

    #navbar ul ul li:hover > ul {
        display: list-item;
        background: #2b2b2b;
        border-left: 4px solid #2196F3;
    }

    #navbar ul li:hover > ul a {
        padding-left: 20px;
    }

    #navbar ul ul li:hover > ul a {
        padding-left: 20px;
    }

    #navbar ul ul li:hover > ul {
        display: list-item;
        position: unset;
        padding-left: 10px;
    }
    
    #navbar ul ul li:hover > ul {
        display: list-item;
        padding: unset;
    }
    
 
}